/* line 17, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 33, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 46, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 54, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/* line 67, ../sass/partials/_normalize.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 77, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 87, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 103, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 109, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 122, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 127, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 132, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 137, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 142, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 147, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 154, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 160, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 166, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1em 40px;
}

/* line 173, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 179, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 186, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1em 0;
}

/* line 195, ../sass/partials/_normalize.scss */
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 208, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 219, ../sass/partials/_normalize.scss */
q {
  quotes: none;
}

/* line 226, ../sass/partials/_normalize.scss */
q:before,
q:after {
  content: '';
  content: none;
}

/* line 232, ../sass/partials/_normalize.scss */
small {
  font-size: 75%;
}

/* line 239, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 247, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 251, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 261, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}

/* line 270, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 277, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/* line 287, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* line 304, ../sass/partials/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 313, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 323, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 333, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/* line 340, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 350, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px;
}

/* line 363, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 377, ../sass/partials/_normalize.scss */
button,
input {
  line-height: normal;
}

/* line 387, ../sass/partials/_normalize.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 400, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 410, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px;
}

/* line 424, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 429, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 438, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 447, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 458, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
