/* line 45, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/* line 61, ../sass/partials/_normalize.scss */
audio,
canvas,
video {
  display: inline-block;
}

/* line 74, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 84, ../sass/partials/_normalize.scss */
[hidden], template {
  display: none;
}

/* line 97, ../sass/partials/_normalize.scss */
html {
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 109, ../sass/partials/_normalize.scss */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/* line 119, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* line 132, ../sass/partials/_normalize.scss */
a {
  background: transparent;
}
/* line 139, ../sass/partials/_normalize.scss */
a:focus {
  outline: thin dotted;
}
/* line 145, ../sass/partials/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

/* line 159, ../sass/partials/_normalize.scss */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 164, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}

/* line 169, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}

/* line 174, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}

/* line 179, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}

/* line 184, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}

/* line 192, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 198, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/* line 211, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/* line 217, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/* line 233, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 246, ../sass/partials/_normalize.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 254, ../sass/partials/_normalize.scss */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 270, ../sass/partials/_normalize.scss */
q:before, q:after {
  content: '';
  content: none;
}

/* line 279, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/* line 286, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 294, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 298, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* line 350, ../sass/partials/_normalize.scss */
img {
  border: 0;
}

/* line 359, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 369, ../sass/partials/_normalize.scss */
figure {
  margin: 0;
}

/* line 386, ../sass/partials/_normalize.scss */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 397, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  padding: 0;
  white-space: normal;
}

/* line 411, ../sass/partials/_normalize.scss */
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
}

/* line 426, ../sass/partials/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 435, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/* line 448, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 461, ../sass/partials/_normalize.scss */
button[disabled],
input[disabled] {
  cursor: default;
}

/* line 470, ../sass/partials/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 479, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 490, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 498, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 506, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/* line 516, ../sass/partials/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
