$color1: #FF0000; // Red
$color2: #FFBF00; // Orange  橙色
$color3: #FFFF00; // Yellow  黄色
$color4: #7FFF00; // Green  绿色
$color5: #007FFF; // Light Blue 浅蓝
$color6: #00FFFF; // Cyan  青色
$color7: #0000FF; // Blue 蓝色
$color8: #7F00FF; // Purple 紫色
$color9: #FF00FF; // Magenta 紫红
$color10: #000; // Black
$color11: #fff; // White